
<aside class="sidebar">

    <div class="logo">
        School Management
    </div>

    <div class="nav-title">
        Management
    </div>


    <a
        href="{% url 'admin_dashboard' %}"
        class="nav-link"
    >
        Dashboard
    </a>


    <a
        href="{% url 'students' %}"
        class="nav-link"
    >
        Students
    </a>


    <a
        href="{% url 'classes' %}"
        class="nav-link"
    >
        Class Management
    </a>


    <a
        href="{% url 'teachers' %}"
        class="nav-link"
    >
        Teacher Management
    </a>


    <a
        href="{% url 'timetables' %}"
        class="nav-link"
    >
        Timetable Management
    </a>


    <a
        href="{% url 'subject_attendance' %}"
        class="nav-link"
    >
        Subject-wise Attendance
    </a>


    <a
        href="{% url 'logout' %}"
        class="logout"
    >
        Logout
    </a>

</aside>
